<div class="container">
    <div>
        <h2>Modifier produit</h2>
    </div>
    <form>
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>Id produit</label>
            <input type="text" [(ngModel)]="currentProduit.idProduit" name="idProduit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom de produit</label>
            <input type="text" [(ngModel)]="currentProduit.nomProduit" name="nomProduit" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix de produit</label>
            <input type="number" [(ngModel)]="currentProduit.prixProduit" name="prixProduit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date de création</label>
            <input type="date" [(ngModel)]="currentProduit.dateCreation" name="dateCreation" class="form-control">
        </div>
        <!-- <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Catégorie</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updateCatId">
                <option *ngFor="let cat of categories" [value]="cat.idCat">
                    {{ cat.nomCat }}
                </option>
            </select>
        </div> -->
        <div class="mt-2">
            <button type="submit" (click)="updateProduit()" class="btn btn-success">Modifier</button>
        </div>
    </form>
</div>
