<div class="container">
    <div>
        <h2>Ajouter un nouveau produit</h2>
    </div>
    <form>
        <div class="row">
            <div hidden class="col-sm-2 col-md-2 col-lg-2">
                <label>Id produit</label>
                <input  type="text" [(ngModel)]="newProduit.idProduit" name="idProduit" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Nom de produit</label>
                <input type="text" [(ngModel)]="newProduit.nomProduit" name="nomProduit" class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <label>Prix de produit</label>
                <input type="number" [(ngModel)]="newProduit.prixProduit" name="prixProduit" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>date de creation</label>
                <input type="date"[(ngModel)]="newProduit.dateCreation" name="dateCreation" class="form-control">
            </div>
           <!--  <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Categorie</label>
                <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="newIdCat">
                    <option *ngFor="let cat of categories" [value]="cat.idCat">
                        {{cat.nomCat}}
                    </option>
                </select>
            </div> -->
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addProduit()" class="btn btn-success">Ajouter</button>
            <div>
                <h3>{{ message }}</h3>
            </div>
        </div>
    </form>
</div>
